* {
    outline: none !important;
}

html, body {
    min-height: 100vh;
    font-family: "Open Sans";
    color: #333333;
}

body {
    margin: 0;
    background-color: white;
}

main {
    padding: 0 20px 40px 20px;
    min-height: calc(100vh - 200px);
    box-sizing: border-box;
}

html.not-clean section > section {
    background-color: #EEEEEE;
    box-sizing: border-box;
    padding: 5px 30px;
    margin: 10px 5px;
}

h1 {
    border-bottom: 4px solid #333;
    margin-bottom: 0;
    font-size: 2em;
}

a {
    color: #0000F4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

#contents {
    width: 290px;
    flex-shrink: 0;
    flex-grow: 0;
}

#innerContainer {
    padding-left: 25px;
    flex-grow: 0;
}

.subnote {
    font-size: 0.9em;
    color: #AAAAAA;
    font-weight: 200;
    margin-left: 20px;
}

code {
    border-left: 6px solid #048C04;
}


/* Header */
header {
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: white;
    font-weight: 400;
    transition: border-bottom ease 0.25s, background-color ease 0.25s, box-shadow ease 0.25s;
    border-bottom: 1px solid #EEEEEE;
}

header#moving {
    background-color: #303030;
    border-color: #808080;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}


header nav {
    height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header ul li {
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #808080;
}

header ul li a:hover {
    color: #808080;
    text-decoration: underline;
}

header#moving ul li a:hover {
    color: #A0A0A0;
    text-decoration: none;
}


/* Media queries */
@media screen and (max-width: 900px) {
    #container {
        display: block;
    }

    #contents {
        width: 100%;
    }

    #innerContainer {
        padding: 0;
    }
}